glob2==0.6
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.8
imageio==2.3.0
numpy==1.14.3
pandas==0.23.0
path.py==11.0.1
pathlib2==2.3.2
Pillow==5.1.0
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
tensorflow==1.15.0
matplotlib==2.2.2   
Flask==1.0.2
Flask-Cors==3.0.4
gunicorn==19.9.0  		
Cartopy==0.17.0
