{% extends "_base.html" %}
{% block content %}

<!-- heatmap here -->
 <style>
  /* Inspired from https://bl.ocks.org/Bl3f/cdb5ad854b376765fa99 and http://bl.ocks.org/tjdecke/5558084 */
  /* disable text selection */
  svg *::selection {
     background : transparent;
  }

  svg *::-moz-selection {
     background:transparent;
  }

  svg *::-webkit-selection {
     background:transparent;
  }
  rect.selection {
    stroke          : #333;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
  }

  rect.cell-border {
    stroke: #eee;
    stroke-width:0.3px;
  }

  rect.cell-selected {
    stroke: rgb(51,102,153);
    stroke-width:0.5px;
  }

  rect.cell-hover {
    stroke: #F00;
    stroke-width:0.3px;
  }

  text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
  }

  text.text-selected {
    fill: #000;
  }

  text.text-highlight {
    fill: #c00;
  }
  text.text-hover {
    fill: #00C;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .axis text {
      font-family: sans-serif;
      font-size: 11px;
  }

  #tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }

  #tooltip.hidden {
    display: none;
  }

  #tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
  }
</style>

<!--frequency count-->
<section>
  <div class="clearfix">&nbsp</div>
  <div class="container">
  <div class="row">
    <div class="span12">
      <h2><strong><span class="colored">Frequency</span> Count of File <span class="colored">Extensions</span></strong></h2>
      <p>This section provides the frequency count of <strong>all files in the dataset/ directory based on file extensions</strong></p>
      <div class="clearfix">&nbsp</div>
      <section id="section-chart-heatmap">
        <p class="text-center" id="searcher"><img alt="" src="static/img/ajax-loader.gif" /></p>
        <div id="heatmap"></div>
      </section>
    </div>
  </div>
  </div>
</section>


<!-- section featured -->
<section id="featured">
  <!-- opt in area for landing page -->
  <div class="landing">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2><strong><span class="colored">Summarize</span> and <span class="colored">Display</span></strong></h2>
          <p>This page loads the contents from the <strong>output/</strong> folder.</p>

          <!-- files -->
          <form>
            <table class="table table-hover" id="results-table">
              <thead>
              <tr><th><input type="checkbox" id="toggle-all"/></th>
                <th>Location/Folder</th>
                <th>Prediction File</th>
                <th>Exif File</th>
              </tr></thead>
              <tbody id="results"></tbody>
            </table>
          </form>
          <p class="text-center searching"><img alt="" src="static/img/ajax-loader.gif" /></p>
        </div>
      </div>
      <p id="parse-error" class="text-error"></p>
      <div class="row">
        <div class="span12">
          <button id="graph-submit" class="btn btn-theme btn-large" type="button">Start</button>
        </div>
      </div><!--end of row -->
    </div>
  </div>
</section>
<!-- /section featured -->

<section id="works">
  <div class="container">
  <div class="row">
    <div class="span12">
      <h2 id="vis-title"><strong>Data <span class="colored">Visualisation</span></strong></h2>
      <h4><strong><span class="colored">Bubble</span> Graph of <span class="colored">Detected</span> Labels</strong></h4>
      <p>This section provides the count of all the object images and their corresponding predicted labels based on the Top-20 predictions.
      </p>
      <div class="clearfix">&nbsp</div>
      <!--<h5><span class="colored">Predicted</span> Labels for <span class="colored">Top-20 Predictions</span></h5>-->
        <p class="text-center" id="loading"><img alt="" src="static/img/ajax-loader.gif" /></p>
      <section id="section-chart-vis">
        <ul id="toolbar">
          <li href="#" id="all" class="chart-links active">All</li>
          <li href="#" id="category" class="chart-links">By Category</li>
        </ul>
        <div id="vis"></div>
      </section>
    </div>
  </div>
  </div>
</section>

<section id="content">
  <div class="container">
  <div class="row">
    <div class="span12">
      <h2 ><strong>Image <span class="colored">Samples</span></strong></h2>
      <p>This section contains the random display of a small subset of the total images from the <em>chosen</em> directory.
      </p>
      <div class="clearfix">&nbsp</div>
      <ul id="thumbs-sample" class="flickr_badge">
        <!-- search photos here -->
      </ul>
    </div>
  </div>
  </div>
</section>


<div id="tooltip" class="hidden"><p><span id="value"></span></p></div>

{% endblock %}
